@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
      @apply bg-gray-950;
    }
  }

  .bg-militar {
    position: relative;
    background-image: url('/bgmilitar1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* 👈 Parallax */
  }
  
  .bg-militar::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75); /* opacidad 50% */
    z-index: 1;
  }
  
  .bg-militar > * {
    position: relative;
    z-index: 2;
  }
  

  /*formbg*/

  .bg-mili {
    position: relative;
    background-image: url('/images/about-5.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* 👈 Parallax */
  }
  
  .bg-mili::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7); /* opacidad 50% */
    z-index: 1;
  }
  
  .bg-mili > * {
    position: relative;
    z-index: 2;
  }